ICPDAO_GITHUB_APP_CLIENT_ID='xxx'
ICPDAO_GITHUB_APP_CLIENT_SECRET='xxx'
API_GATEWAY_BASE_PATH=''
ICPDAO_MONGODB_ICPDAO_HOST='mongodb://xxx/icpdao'
AWS_AUTHORIZER_ARN='xxx'
#IS_UNITEST='yes'
ICPDAO_GITHUB_APP_ID='xxx'
ICPDAO_GITHUB_APP_NAME='xxx'
ICPDAO_GITHUB_APP_RSA_PRIVATE_KEY="xxx"
ICPDAO_ETH_DAO_ID_SALT = "xxx"